@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo ao Banco Sow Connect</h1>
    <p class="lead">
        O melhor banco para você fazer debito, crédito, transferência e consultas. :)
    </p>
  
</div>
